*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/public/index.php
/public/.htaccess
/.htaccess
/storage/*
/bootstrap/cache/*
/public/*.png
/public/*.jpg
/public/*.jpeg
/public/*.gif
/public/*.svg
/public/*.webp
/public/assets/admin.css
/public/assets/admin.js
/public/assets/*.png
/public/assets/*.jpg
/public/assets/*.jpeg
/public/assets/*.gif
/public/assets/*.svg
/public/assets/*.webp
