<IfModule mod_rewrite.c>
    RewriteEngine On

    # Block sensitive folders
    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|vendor) - [F,L]

    # Handle Laravel routes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>